.dialog-container{
	height: 100%;
	width: 100%;
}
.dialog-mask{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	position: absolute;
	opacity: 0.5;
	 filter: alpha(opacity = 50);
}
.dialog-box{
	height: 400px;
	width: 400px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	position: absolute;
	background: white;
}
.dialog-title-box{
	background: #eee;
	height: 30px;
}
.title{
	float: left;
}
.chose{
	float: right;
	cursor: pointer;
}