<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="num1">
        <input type="text" v-model="num2">
        <button @click="fn">click</button>

        两个数的和：{{num}}
    </div>
    <script src="vue.js"></script>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                num1:0,
                num2:0,
                num:0
            },
            methods:{

                fn:function(){
                    this.num = parseInt(this.num1)+parseInt(this.num2);
                    return this.num;
                }
            }

        });
    </script>
</body>
</html>