<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="name">
    <input type="text" v-model="age">
    <button @click="add">add</button>
    <ul>
        <li v-for="(val,index) in arr">{{val.name}},{{val.age}},{{index}}
            <button @click="del(index)">del</button>
        </li>

    </ul>
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            name:'',
            age:'',
            arr:[]
        },
        methods:{
            add:function () {
                this.arr.push({name:this.name,age:this.age});
                this.name='';
                this.age='';
//                console.log(this);
            },
            del:function (index) {
                this.arr.splice(index,1);
            }
        }
    })
</script>
</body>
</html>